{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static "css/receipts.css" %}">
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>

<body>
        <header>
            <nav>
                <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'category_list' %}">Categories</a></li>
                    <li><a href="{% url 'account_list' %}">Accounts</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock content %}
        <footer>
        </footer>
</body>

</html>
